@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .control-arrow {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .control-arrow:before {
  font-size: 20px;
}

.carousel .control-prev.control-arrow {
  left: 15px;
}

.carousel .control-next.control-arrow {
  right: 15px;
}

.carousel .carousel-slider .control-dots .dot {
  background: #d1d5db; /* Tailwind's bg-gray-300 */
}

.carousel .carousel-slider .control-dots .dot.selected {
  background: #3b82f6; /* Tailwind's bg-blue-500 */
}
